# See http://help.github.com/ignore-files/ for more about ignoring files.

# ignore fonts - they are copied from styleguide by build task
/src/assets/fonts

# ignore the images that are copied from styleguide by build task
/src/assets/images/kp-icon.svg
/src/assets/images/loading-icon.svg

# keep the images directory itself
/src/assets/images/.gitkeep 

# compiled css of global-app-styles.scss
src/global-app-styles.css

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
